body {
    background-image: url(https://64.media.tumblr.com/71466fb93a2112d62577598d714b8333/6b31851c4f35951e-fd/s540x810/8469b0a03013f58a2f20f3120056fed2dffbd9b8.gif);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    
}

h1 {
    color: orange;
    font-size: 80px;
    font-family: 'Changa', sans-serif;

}